html {
    font-size: 18px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/* UNIVERSAL FONT-STYLES */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

.mobilenav {
    display: none;
}

.mobilerightcenter {
    display: none;
}

.mobilecourses {
    display: none;
}

/* HEADER */

header {
   background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

}

.branding {
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.branding img {
    height: 3rem;
    padding-left: 2rem;
    margin-right: 1rem;
}


.branding h3 strong {
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    align-items: center;
    padding-left: 2rem;
    
}

nav a {
    margin: 1rem;
    text-decoration: none;
    color: seashell;
}


/* MAIN BANNER AREA */

#banner {
    
    margin: 0 auto;
    display: inline-flex;
    min-width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bannerimagebox {
    max-width: 60%;
    margin-left: 2rem;
    margin-right: 5rem;
}

.bannerimagebox img {
    max-width: 100%;
}

.bannerinfobox {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    max-width: 30%;
}

.bannerinfobox h1 { 
margin-bottom: 2rem;
}

.bannerinfobox h3 { margin-bottom: 2rem;

}

.bannerinfobox button { 
    text-align: center;
    max-width: 65%;

}

/* CENTER CONTENT */

#sitecenter {
    background-color: seashell;
    display: inline-flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.leftcenter {
    
    max-width: 60%;
    margin-left: 2rem;
    margin-right: 3rem;
}

.leftcenter img { padding-right: 1rem;
    max-width: 97%;
}

.leftcenter h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.leftcenter p {
margin-bottom: 2rem;
}



.rightcenter { margin-right: 2rem;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    
    border-left: 1px solid gray;
}

.rightcenter h3 {
margin-bottom: 0.5rem;
}

.rightcenter p {
margin-bottom: 0.5rem;
}



.rightcentercontbox {
    display: flex;
    flex-direction: row;
     
     justify-content: center;
     align-items: center;
     padding-right: 1rem;
    
     
     
}

.rightcentercontbox:nth-child(2n + 2) { 
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

}

.rightcenterconttxt {
    display: flex; 
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rightcentercontbox img {
    
    height: auto;
    width: 40%;
    margin: 1.5rem;
}

/* LEARNING SECTION */

#startlearn {
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.startlearntxt {
    font-weight: bold;
}

.courses {
   
    display: flex;
   justify-content: space-between;
    min-width: 85%;
    max-width: 85%;
    margin-top: 3rem;
}

.coursesboxes {
    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    
}

.coursebox { 
    max-width: 30%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.coursebox img {
    max-width: 100%;
}

.coursebox h3 {
padding: 1rem;
}

.coursebox p {
padding-left: 1rem;
padding-bottom: 0.5rem;
}

/* THESIS SECTION */

#thesis {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    

}

.thesistxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.thesistxt h2 {
    font-weight: bold;
}

.thesiscont {
    
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.thesiscont video {
    width: 100%;
    
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.thesisleft { 
    max-width: 60%;

}

.thesiscont h3 { margin-bottom: 1rem;
font-weight: bold;
padding-top: 0.5rem;

}

.thesiscont p {
    max-width: 80%;
    padding-bottom: 0.5rem;
}

.thesisright {
 
    min-width: 38%;
    margin-right: 2rem;
    padding-left: 2rem;
}

.thesisrightbox {
    
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    border: 0.5px solid seashell;
}

.thesisrightbox img {
    max-width: 40%;
    max-height: 8rem;
}

.righttxt {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
}

.righttxt p {
    min-width: 95%;
    margin-right: 1rem;
}

/* FOOTER SECTION */ 

#footer nav a {
    color: black;
}



#footer {
    display: flex;
    padding-top: 1rem;
    border-top: 1px solid seashell;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footsplit {min-width: 100%;
    display: flex;
    justify-content: space-between;
}

/* MEDIA QUARIES */

@media screen and (max-width: 1100px) {
    .rightcentercontbox img {
        min-width: 40%;
    }
    
    .rightcenter { margin-right: 2rem;
        min-width: 40%;
        display: flex;
        flex-direction: column;
        
        border-left: 1px solid gray;
    }
    
}

@media screen and (max-width: 850px) and (min-width: 740px) {

   
    .bannerinfobox {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 2rem;
        min-width: 30%;
    }
    nav a {
        margin: 0.5rem;
        text-decoration: none;
        color: seashell;
        font-size: 0.9rem;

    }
    
    .branding img {
        height: 2.5rem;
        padding-left: 2rem;
        margin-right: 1rem;
    }
    
    .branding h3  {
        font-size: 1.25rem;
    }

    .rightcentercontbox img {
        height: auto;
        width: 50%;
        margin: 1.5rem;
    }

    .thesisrightbox img {
        min-width: 40%;
        max-height: 6.5rem;
    }
}

/* MOBILE SECTION */

@media screen and (max-width: 740px) {

/* NAVIGATION */    
    .branding { display: none;

    }
    nav {
        display: none;
    }
    .mobilenav {
        display: flex;
        min-width: 100%;
        justify-content: center;
        height: 4rem;
        align-items: center;
    }

    .mobilenav ul {
        display: flex;
        flex-direction: row;
        min-width: 100%;
        justify-content: space-around;
        
        
    }

    .mobilenav li img {
        height: 1.75rem;
        text-align: center;
    }

/* BANNER */

#banner {
    
    margin: 0 auto;
    display: flex;
    min-width: 100%;
    padding-top: 0px;
    padding-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
}

.bannerimagebox {
    min-width: 100%;
   margin-left: 0px;
   margin-right: 0px;
    justify-content: center;
}

.bannerimagebox img {
    min-width: 100%;
    max-height: 25rem;
}

.bannerinfobox {
    
    
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    
    padding: 1rem;
    
    
    
}

.bannerinfobox h1 { 
margin-bottom: 2rem;

font-size: 1.9rem;
}

.bannerinfobox h3 { margin-bottom: 2rem;
    font-size: 1.7rem;
    

}

.bannerinfobox button { 
    text-align: center;
    min-width: 91.5%;

}


/* CENTER */

    #sitecenter {
        background-color: seashell;
        display: flex;
        padding-top: 3rem;
        padding-bottom: 3rem;
        min-width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

  
.rightcenter {
    min-width: 100%;
    justify-content: center;
    margin-right: 0px;
}

    .mobilerightcenter {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        

        
    }

    .mobrightcentercontbox {
        text-align: center;
        justify-content: center;
    }


    .rightcentercont {
        display: none;
        margin: 0 auto;
    }

    .leftcenter {
        display: none;
        margin: 0 auto;
    }

    .thesisright {
        display: none;
    }
}